@model Experince
@{
    ViewData["Title"] = "Edit";
}

<section class="content-main">
    <div class="row">

        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form method="post" >
                        <div class="mb-4">
                            <label asp-for="ExperinceName" class="form-label">ExperinceName</label>
                            <input asp-for="ExperinceName" placeholder="Type here" class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label asp-for="Title" class="form-label">Title</label>
                            <input asp-for="Title" placeholder="Type here" class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label asp-for="ExperinceAbout" class="form-label">ExperinceAbout</label>
                            <input asp-for="ExperinceAbout" placeholder="Type here" class="form-control" />
                        </div>






                        <div class="col-9">
                            <div class="content-header">

                                <div>
                                    <button type="submit" class="btn btn-md btn-light rounded font-sm mr-5 text-body hover-up">Created</button>
                                    <button class="btn  rounded font-sm hover-up">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- card end// -->
            <!-- card end// -->
        </div>

    </div>
</section>

