@model About
@{
    ViewData["Title"] = "Edit";
}

<section class="content-main">
    <div class="row">

        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>s
                <div class="card-body">
                    <form method="post">
                        <div class="mb-4">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name"   class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label asp-for="Surname" class="form-label">Surname</label>
                            <input asp-for="Surname" type="text"  class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label asp-for="Streat" class="form-label">Streat</label>
                            <input asp-for="Streat"  type="text"  class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label asp-for="Number" class="form-label">Number</label>
                            <input asp-for="Number"  type="text" class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email"  type="text"  class="form-control" />
                        </div>
                        <div class="mb-4">
                            <label asp-for="Abouts" class="form-label">About</label>
                            <input asp-for="Abouts"  type="text"  class="form-control" />
                        </div>


                        <div class="col-9">
                            <div class="content-header">

                                <div>
                                    <button type="submit"  class="btn btn-md btn-light rounded font-sm mr-5 text-body hover-up">Edit</button>
                                    <button class="btn  rounded font-sm hover-up">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- card end// -->
            <!-- card end// -->
        </div>

    </div>
</section>

